<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h1>Product in Order Create</h1>
    <form action="#" th:action="@{/product-in-order/create}" method="post" th:object="${newProductInOrder}">

        <input type="hidden" th:field="*{orderId}"/>

        <div class="row">
            <div class="col-sm-2">
                <label>Product:</label>
            </div>
            <div class="col-sm-3">
                <select th:field="*{productId}">
                    <option th:each="p : ${products}" th:value="${p.id}" th:text="${p.productName}"/>
                </select>
            </div>
            <div class="col-sm-6">
                <label th:if="${#fields.hasErrors('productId')}" th:errors="*{productId}" style="color: red"></label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label>Amount:</label>
            </div>
            <div class="col-sm-3">
                <input type="number" th:field="*{amount}"/>
            </div>
            <div class="col-sm-6">
                <label th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" style="color: red"></label>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-sm-2">
                <label>Comment:</label>
            </div>
            <div class="col-sm-3">
                <input type="text" th:field="*{comment}"/>
            </div>
            <div class="col-sm-6">
                <label th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" style="color: red"></label>
            </div>
        </div>
        <br/>

        <button type="submit">Create</button>
    </form>
</div>

</body>
</html>