<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <title>Products in Order</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>

<h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
<hr/>

<div class="container" style="padding: 0; margin: 20px">
    <div class="row">

        <div class="col-sm-2">
            <form th:action="@{/table/} + ${userId}" method="get">
                <button class="btn btn-secondary btn-sm" type="submit"><- Tables</button>
            </form>
        </div>

        <div sec:authorize="hasRole('ROLE_WAITER')">
            <div class="col-sm-2">
                <form th:action="@{/product-in-order/form/} + ${orderId}" method="get">
                    <button class="btn btn-primary btn-sm" type="submit">Create Product in Order</button>
                </form>
            </div>
        </div>

    </div>
</div>

<hr/>
<br/>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Product Name</th>
        <th scope="col">Status</th>
        <th scope="col">Amount</th>
        <th scope="col">Comment</th>
        <div sec:authorize="hasRole('ROLE_WAITER')">
            <th scope="col">Action</th>
        </div>
    </tr>
    </thead>
    <tbody>
    <tr th:each="productInOrder : ${allProductInOrders}">
        <td><span th:text="${productInOrder.order.id}"></span></td>
        <td><span th:text="${productInOrder.product.productName}"></span></td>
        <td><span th:text="${productInOrder.status}"></span></td>
        <td><span th:text="${productInOrder.amount}"></span></td>
        <td><span th:text="${productInOrder.comment}"></span></td>
        <div sec:authorize="hasRole('ROLE_WAITER')">
            <td>
                <a th:href="@{/product-in-order/edit/form/} + ${productInOrder.id}">Edit</a>
            </td>
        </div>
    </tr>
    </tbody>
</table>

<hr/>

<div class="container" style="a">
    <div class="row">
        <div class="col-sm-11">
        </div>
        <div class="col-sm-1">
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-primary btn-sm" type="submit">Sign Out</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>