<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>


<h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
<hr/>

<div class="container" style="padding: 0; margin: 20px">
    <div class="row">

        <div class="col-sm-2">
            <form th:action="@{/user}" method="get">
                <button class="btn btn-secondary btn-sm" type="submit"><- Users</button>
            </form>
        </div>

        <div class="col-sm-2">
            <form th:action="@{/product}" method="get">
                <button class="btn btn-secondary btn-sm" type="submit">Products -></button>
            </form>
        </div>

        <div class="col-sm-2">
            <form th:action="@{/table/form}" method="get">
                <button class="btn btn-primary btn-sm" type="submit">Create Table</button>
            </form>
        </div>

        <div class="col-sm-2">
            <form th:action="@{/table/assign/form}" method="get">
                <button class="btn btn-primary btn-sm" type="submit">Assign Table</button>
            </form>
        </div>

    </div>
</div>

<hr/>
<br/>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Table Name</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="table : ${allTables}">
        <td><a th:href="@{/order/} + ${table.id} + @{/} + ${table.waiter.id}"><span th:text="${table.tableName}"></span></a></td>
        <td><span th:text="${table.status}"></span></td>
    </tr>
    </tbody>
</table>

<hr/>

<div class="container">
    <div class="row">
        <div class="col-sm-11">
        </div>
        <div class="col-sm-1">
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-primary btn-sm" type="submit">Sign Out</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>